@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(190, 255, 255);
    color: #ccc;
}
.flash {
    animation: flash 0.2s infinite;
}

@keyframes flash {
    0% { background-color: red;}
    10% { background-color: rgb(255, 255, 0); }
    20% { background-color: rgb(0, 255, 238);}
    30% { background-color: rgb(255, 0, 221);}
    40% { background-color: rgb(0, 255, 38); }
    50% { background-color: red;}
    60% { background-color: rgb(255, 255, 0); }
    70% { background-color: rgb(0, 255, 238);}
    80% { background-color: rgb(255, 0, 221);}
    100% { background-color: rgb(0, 255, 38); }
    90% { background-color: red;}
    100% { background-color: rgb(255, 255, 0); }
}
h1{
    font-size: 45px;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
}
header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.13);
}
header nav .container-fluid{
    justify-content: space-between;
}
header nav ul li a{
    color: rgb(32, 32, 32);
    font-size: 20px;
}
#logo {
    height: auto;
    width: 100px;
}
@media (min-width:992px) {
    .navbar-collapse{
        justify-content: end;
    } 

}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}
section#inicio{
    padding: 20px 0;
}
section#inicio h1{
    text-align: center;
}
section#inicio .imagen-principal{
    text-align: center;
    margin: 20px 0 40px 0;
}
section#inicio .imagen-principal img{
    width: 80%;
}
.nav-link{
    --bs-nav-link-font-size: 20px;
}
@media (max-width:992px) {
    .nav-link{
        --bs-nav-link-font-size: 18px;
    }
}
#galeri{
    padding: 20px 0;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.galeria video{
    width: 100%;
}
#mapa{
    width: 100%;
    height: 600px;
}
#mapa iframe{
    width: 100%;
}
.galeria img {
    width: calc(33% - 20px);
    height: auto;
    object-fit: cover;
}
#informacion p{
    width: 300px;
}
#contacte{
    padding: 30px 0;
    background-color: #ffe4e4;
}
#contacte .icono{
    text-align: center;
    height: 100%;
}
#contacte .icono img{
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    border-radius: 10px;
}
form input, form textarea, form button {
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
